.common-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1.5em;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:
        background 0.2s,
        color 0.2s;
    outline: none;

    &:hover {
        border-color: transparent !important;
    }

    &:focus,
    &:focus-visible {
        outline: none !important;
    }
}

.common-btn--primary {
    background: var(--color-primary);
    color: #fff;
}

.common-btn--primary::hover {
    background: var(--color-dark-primary);
}

.common-btn--theme {
    background: var(--color-dark-theme);
    color: #fff;
}

.common-btn--theme:hover {
    background: var(--color-theme);
}

.common-btn--warning {
    background: #ff686b;
    color: #fff;
}

.common-btn--warning:hover {
    background: #e63946;
}
