@import 'tailwindcss';

@theme {
    --color-theme: #b5caa0; /* 抹茶绿 */
    --color-bg-theme: #e6eede; /* 浅抹茶绿 */
    --color-dark-theme: rgb(106, 132, 99); /* 暗绿 */
    --color-light-bg-theme: #e0e7d4; /* 灰调抹茶 */
    --color-primary: #ffd166; /* 柠檬黄 */
    --color-secondary: #fff4d6; /* 浅柠檬黄 */
    --color-dark-primary: rgb(249, 200, 53); /* 浅黄 */
    --color-light-primary: rgba(253, 245, 206, 0.2); /* 浅柠檬黄 */
}

body {
    margin: 0;
    font-family: 'PingFang SC', 'Microsoft YaHei', Arial, sans-serif;
    background: #fff;
    color: #222;
}

#root {
    width: 100%;
    height: 100%;
}

/* 全局样式文件 */

/* 禁止缩放 */
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation; /* 阻止双击缩放 */
}

/* 针对iOS Safari的额外缩放阻止 */
html, body {
    -webkit-text-size-adjust: none; /* 防止文字缩放 */
    -webkit-user-scaling: none;
    -moz-user-scaling: none;
    -o-user-scaling: none;
    user-scaling: none;
}

/* 禁用双击缩放的特殊处理 */
body {
    touch-action: none;
    overscroll-behavior-y: contain;
}
&:focus,
&:focus-visible {
    outline: none !important;
}
